# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-bbbd3f0e51412b286fc9.json
build/.cmake/api/v1/reply/codemodel-v2-21f07443770f48f01cf3.json
build/.cmake/api/v1/reply/index-2020-11-28T17-17-45-0963.json
build/.cmake/api/v1/reply/target-avl-Debug-3cd7668143c503122043.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.0/CMakeCCompiler.cmake
build/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.17.0/CMakeSystem.cmake
build/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/avl.dir/build.make
build/CMakeFiles/avl.dir/cmake_clean.cmake
build/CMakeFiles/avl.dir/CXX.includecache
build/CMakeFiles/avl.dir/depend.internal
build/CMakeFiles/avl.dir/depend.make
build/CMakeFiles/avl.dir/DependInfo.cmake
build/CMakeFiles/avl.dir/flags.make
build/CMakeFiles/avl.dir/includes_CXX.rsp
build/CMakeFiles/avl.dir/link.txt
build/CMakeFiles/avl.dir/linklibs.rsp
build/CMakeFiles/avl.dir/objects1.rsp
build/CMakeFiles/avl.dir/progress.make
